<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary float-end" 
    data-bs-toggle="modal" 
    data-bs-target="#staticBackdrop"
    (click)="modalAdd()">
    Add Inspection
</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<br>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Inspection Type</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of (inspectionList$ | async)" style="margin-left: 50px;">
            <td>{{item.id}}</td>
            <td>{{inspectionTypesMap.get(item.inspectionTypeId)}}</td>
            <td>{{item.status}}</td>
            <td>{{item.comments}}</td>
            <td>
                <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop"
                    (click)="modalUpdate(item)">
                    <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteBtn(item)" class="btn btn-outline-danger btn-sm me-2">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<div class="alert alert-success" role="alert" id="add-success-alert">
    Inspection successfully added!
</div>
<div class="alert alert-success" role="alert" id="update-success-alert">
    Inspection successfully updated!
</div>
<div class="alert alert-success" role="alert" id="delete-success-alert">
    Inspection successfully deleted!
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inspection Types</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngFor="let type of (inspectionTypesList$ | async)">{{ type.id }} - {{type.inspectionName}}</p>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modalClose()" id="add-edit-modal-close"
                ></button>
            </div>
            <div class="modal-body">
                <app-add-edit-inspection 
                    [inspection]="inspection" 
                    *ngIf="activateAddEditInspectionComponent">
                </app-add-edit-inspection>
            </div>
        </div>
    </div>
</div>
